:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: rgb(14, 14, 14);
  font-family: 'Domine', serif;
}

body, html {
  height: 100%;
}

nav, .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

nav {
  padding-left: 20px;
  background: linear-gradient(maroon 50% , whitesmoke);
  color: white;
  font-weight: 800;
  font-size: 18px;
  padding-bottom: 20px;

}

.navbar p a {
  padding: 0px 30px;
  text-decoration: none;
  color: white;
}

.active-page {
  border: solid white 2px;
  border-radius: 5px;
  
}



h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.teams {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 75%;
  padding-top: 50px; 
  padding-bottom: 50px;

}

.team {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  border: solid black;
  border-radius: 10px;
  background: white;
}

.team h2 {
  font-size: 3rem;
}

.team-1-score, .team-2-score {
  text-align: center;
  font-size: 5rem;

}

